body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  letter-spacing: 4px;
}

.container {
  background-color: #3a3a3a;
  margin: auto;
  width: 350px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.1rem;
  border-radius: 10px;
  overflow: hidden;
}

.screen {
  grid-column: 1/5;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  color: aliceblue;
  text-align: end;
  font-size: 1.8rem;
}

#display {
  padding: 0.5rem 0;
}

.formula {
  padding: 0.5rem 0;
  border-bottom: 1px solid rgb(255, 255, 255);
  min-height: 30px;
  font-size: 1.2rem;
}

button {
  min-width: 50px;
  min-height: 80px;
  font-size: 1.8rem;
  background-color: rgb(93, 93, 93);
  color: aliceblue;
  border: none;
}

#clear {
  grid-column: 1/3;
  background-color: rgb(132, 72, 72);
}

#zero {
  grid-column: 1/3;
}

#equals {
  grid-column: 4;
  grid-row: span 2;
  background-color: rgb(72, 102, 132);
}

.operator {
  background-color: rgb(122, 129, 137);
}
